<div class="crad-top container-fluid shadow p-3 mb-5 bg-white rounded">
    <div class="container  d-flex">
        
        <div class="item">
            <a routerLink="/product">
                <img src="../../../assets/flipcart/all produts.png" alt="">
                <h6>All Products</h6>
            </a>
            
        </div>
        <div class="item">
            <a routerLink="/electronics">
                <img src="../../../assets/flipcart/electronics.png" alt="">
                <h6>Electronics</h6>
            </a>
            
        </div>
        <div class="item">
            <a routerLink="/fashion">
                <img src="../../../assets/flipcart/fashion.png" alt="">
                <h6>Fashion</h6>
            </a>

        </div>
        <div class="item align-items-center">
            <a routerLink="/jewellery">
                <img style="width: 60px; margin-top: 20px; margin-bottom: 5px;" src="../../../assets/flipcart/jwellery.jpeg" alt="">
                <h6>Jewllery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center justify-content-around">
        <!-- <ng-container *ngFor="let item of productList"> -->
            <!-- <div class="col-md-3 m-2 card">
                <img src={{item.image}} alt="">
                <h5>{{item.id}}</h5>
                <h5>${{item.price}}</h5>
                <h5>{{item.title}}</h5>
                <p>{{item.description}}</p>
                <div class="btn btn-primary mb-3">Add to cart</div>
            </div>
        </ng-container> -->
     
    </div>
</div>

<div class="container">

<!-- women shirts -->
<div class="row">
    <div class="col-md-4">
       <div class="crad my-5 p-3">
           <div class="card-body">
               <img src="./assets/images/shop women shirts/1-catalog (1).jpg" alt="">

               <div class="price d-flex align-items-center">
               <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
               </div>
               <div class="card-title">
                   <h4>V-neck Top</h4>
               </div>
               <div class="card-text">
                   <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
               </div>

               <button class="btn btn-primary d-block">Add To Cart</button>
           </div>
          
       </div>
    </div>
    <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/shop women shirts/1-catalog (3).jpg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                </div>
                <div class="card-title">
                    <h4>Sleeveless Shirt</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
    </div>
    <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/shop women shirts/1-catalog (2).jpg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                </div>
                <div class="card-title">
                    <h4>Turtleneck Top</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
    </div>
   
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shop women shirts/1-catalog (7).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shop women shirts/1-catalog (8).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shop women shirts/1-catalog (9).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shop women shirts/1-catalog (10).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shop women shirts/1-catalog (11).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shop women shirts/1-catalog (12).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>


<!-- footwear -->
<div class="row">
    <div class="col-md-4">
       <div class="crad my-5 p-3">
           <div class="card-body">
               <img src="./assets/images/shopping footwear/1-catalog (1).jpg" alt="">

               <div class="price d-flex align-items-center">
               <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1200</del></span>
               </div>
               <div class="card-title">
                   <h4>Common Shoesk</h4>
               </div>
               <div class="card-text">
                   <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
               </div>

               <button class="btn btn-primary d-block">Add To Cart</button>
           </div>
          
       </div>
    </div>
    <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/shopping footwear/1-catalog (2).jpg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 999</strong> </h3><span><del>  ₹ 2000</del></span>
                </div>
                <div class="card-title">
                    <h4>Sports Shoes</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
    </div>
    <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/shopping footwear/1-catalog (3).jpg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                </div>
                <div class="card-title">
                    <h4>Farmal Shoes</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
    </div>
   
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping footwear/1-catalog (7).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>Formal Footwear</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (8).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Formal Footwear</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (9).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Formal Footwear</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping footwear/1-catalog (10).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (11).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (12).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<!-- mens shirts -->
<div class="row">
    <div class="col-md-4">
       <div class="crad my-5 p-3">
           <div class="card-body">
               <img src="./assets/images/shopping shirts/1-catalog (1).jpg" alt="">

               <div class="price d-flex align-items-center">
               <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
               </div>
               <div class="card-title">
                   <h4>Formal Shirt</h4>
               </div>
               <div class="card-text">
                   <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
               </div>

               <button class="btn btn-primary d-block">Add To Cart</button>
           </div>
          
       </div>
    </div>
    <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/shopping shirts/1-catalog (2).jpg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                </div>
                <div class="card-title">
                    <h4>Printed Shirt</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
    </div>
    <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/shopping shirts/1-catalog (3).jpg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                </div>
                <div class="card-title">
                    <h4>Checks Shirt</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
    </div>
   
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping shirts/1-catalog (4).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (5).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (6).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping shirts/1-catalog (7).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (8).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (9).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<!-- electronics -->
<div class="row">
    <div class="col-md-4">
       <div class="crad my-5 p-3">
           <div class="card-body">
               <img src="./assets/images/electronics/10.jpeg" alt="">

               <div class="price d-flex align-items-center">
               <h3 class="text-danger mx-3"><strong>₹ 20090</strong> </h3><span><del>  ₹ 30500</del></span>
               </div>
               <div class="card-title">
                   <h4>LG Refregirator</h4>
               </div>
               <div class="card-text">
                   <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
               </div>

               <button class="btn btn-primary d-block">Add To Cart</button>
           </div>
          
       </div>
    </div>
    <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/electronics/11.jpeg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 10090</strong> </h3><span><del>  ₹ 15000</del></span>
                </div>
                <div class="card-title">
                    <h4>Wirpool Fridge</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
     </div>
     <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/electronics/12.jpeg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 30000</strong> </h3><span><del>  ₹ 30500</del></span>
                </div>
                <div class="card-title">
                    <h4>LG Fridge</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
     </div>
     <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/electronics/15.jpeg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 30000</strong> </h3><span><del>  ₹ 30500</del></span>
                </div>
                <div class="card-title">
                    <h4>LG Fridge</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
     </div>
     <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/electronics/14.jpeg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 18000</strong> </h3><span><del>  ₹ 21000</del></span>
                </div>
                <div class="card-title">
                    <h4>LG Fridge</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
     </div>
     <div class="col-md-4">
        <div class="crad my-5 p-3">
            <div class="card-body">
                <img src="./assets/images/electronics/13.jpeg" alt="">
 
                <div class="price d-flex align-items-center">
                <h3 class="text-danger mx-3"><strong>₹ 20000</strong> </h3><span><del>  ₹ 30500</del></span>
                </div>
                <div class="card-title">
                    <h4>Wirpool Fridge</h4>
                </div>
                <div class="card-text">
                    <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                </div>
 
                <button class="btn btn-primary d-block">Add To Cart</button>
            </div>
           
        </div>
     </div>
     
   
</div>



</div>


<!-- jwellery start -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/jwellery/4.jpeg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>Stylish Heavy Gold</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/jwellery/5.jpeg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Brado Jewellery </h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/jwellery/6.jpeg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Alloy Silver Jewel Set</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/jwellery/7.jpeg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>Stylish Heavy Gold</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/jwellery/8.jpeg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Brado Jewellery </h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/jwellery/9.jpeg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Alloy Silver Jewel Set</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/jwellery/12.jpeg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>Stylish Heavy Gold</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/jwellery/11.jpeg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Brado Jewellery </h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/jwellery/10.jpeg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Alloy Silver Jewel Set</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/jwellery/1.jpeg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>Stylish Heavy Gold</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/jwellery/2.jpeg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Brado Jewellery </h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/jwellery/1.jpeg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Alloy Silver Jewel Set</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>


<!-- jewellery end -->







<app-footer></app-footer>
<router-outlet></router-outlet>