<div class="below bg-dark">
    <div class="container mt-5 py-3">
        <div class="display-4 text-white font-weight-bold py-3">THE SITE YOUR COMPAIGN</div>
        <div class="row text-white mt-3">
            <div class="col-3">
                <ul class="list-unstyled text-white">
                    <li>
                        <a href="#"><h6>SERVICES</h6></a>
                    </li>
                    <li>
                        <a href="#">Email marketing</a>
                    </li>
                    <li>
                        <a href="#">Companies</a>
                    </li>
                    <li>
                        <a href="#">Branding</a>
                    </li>
                    <li>
                        <a href="#">Others</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#"><h6>ABOUT</h6></a>
                    </li>
                    <li>
                        <a href="#">Our Story</a>
                    </li>
                    <li>
                        <a href="#">Benefits</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                    <li>
                        <a href="#">Managements</a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul class="list-unstyled">
                    <li>
                        <a href="#"><h6>LEAGAL</h6></a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">Privacy Polacy</a>
                    </li>
                    <li>
                        <a href="#">Team Use</a>
                    </li>
                    <li>
                        <a href="#">Leagal</a>
                    </li>
                </ul>
            </div>
          
        </div>
        <div class="text-center footer-btn my-5">
            <button class="btn btn-primary  btn-lg" routerLink="/signin">SIGN IN</button>
        </div>
        <div class="footer-container d-flex justify-content-center text-center">
<div class="round mx-5 p-2">
    <i class="fab fa-vuejs text-white icon-footer"></i></div>
<div class="round mx-5 p-2">
    <i class="fab fa-whatsapp text-white icon-footer"></i>    
</div>
<div class="round mx-5 p-2">
    <i class="fab fa-twitter text-white icon-footer"></i>
</div>

<div class="round mx-5 p-2">
    <i class="fab fa-instagram-square text-white icon-footer"></i>
</div>
<div class="round mx-5 p-2">
    <i class="fab fa-facebook text-white icon-footer"></i>
</div>
        </div>


        <div class="copyright text-center text-white my-4">
            <p>Shopperhome © 2022 . All rights reserved</p>
        </div>
    </div>
</div> 