

<div class="box pt-5">
    <div class="container">
        <div class="form card align-items-center">
            <div class="icon display-4 my-2 text-primary">
                <i class="fas fa-lock fa"></i>
            </div>
            <h2 class="mt-3">Register With Your Details</h2>
            <form action="" class="">
                <div class="row">
                    <div class="col-md">
                        <div class="form-group my-3">
                            <label for="firstname">First Name</label>
                            <input type="text" name="firstname" placeholder="Enter Your First Name" class="form-control">
                        </div>
                      
                    </div>
                    <div class="col-md">
                        <div class="form-group my-3">
                            <label for="lastname">Last Name</label>
                            <input type="text" name="lastname" placeholder="Enter Your Last Name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group my-4">
                    <input type="email" name="email" id="email" placeholder="Enter Your Email..." class="form-control">
                </div>
                <div class="form-group my-4">
                    <input type="password" name="password" id="password" placeholder="Enter Your Password" class="form-control">
                    
                </div>
                <div class="form-group my-4">
                    <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Your Password" class="form-control">

                </div>
            </form>
            <button class="btn btn-success my-2">Signup Now</button>
        </div>
    </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
