
<div class="crad-top container-fluid shadow p-3 mb-5 bg-white rounded">
<div class="container  d-flex">
        
    <div class="item">
        <a routerLink="/product">
            <img src="../../../assets/flipcart/all produts.png" alt="">
            <h6>All Products</h6>
        </a>
        
    </div>
    <div class="item">
        <a routerLink="/electronics">
            <img src="../../../assets/flipcart/electronics.png" alt="">
            <h6>Electronics</h6>
        </a>
        
    </div>
    <div class="item">
        <a routerLink="/fashion">
            <img src="../../../assets/flipcart/fashion.png" alt="">
            <h6>Fashion</h6>
        </a>

    </div>
    <div class="item align-items-center">
        <a routerLink="/jewellery">
            <img style="width: 60px; margin-top: 20px; margin-bottom: 5px;" src="../../../assets/flipcart/jwellery.jpeg" alt="">
            <h6>Jewllery</h6>
        </a>
    </div>
</div>

<!-- Fashion items -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping shirts/1-catalog (3).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (2).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (1).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping shirts/1-catalog (4).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (5).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (6).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping shirts/1-catalog (7).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (8).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (9).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping shirts/1-catalog (10).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (11).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping shirts/1-catalog (12).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>
<!-- shoe showcase -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping footwear/1-catalog (1).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>Men Grey, Blue Clogs Sandal</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (2).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>running shoes for men</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (3).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Super Stylish & Trendy </h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping footwear/1-catalog (4).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                    <h4>running shoes for men</h4>
                </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (5).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Casual Footwear</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (6).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Party Footwear</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping footwear/1-catalog (7).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>Formal Footwear</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (8).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Formal Footwear</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (9).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Formal Footwear</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shopping footwear/1-catalog (10).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (11).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shopping footwear/1-catalog (12).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>


<!-- women shirts -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shop women shirts/1-catalog (3).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shop women shirts/1-catalog (2).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shop women shirts/1-catalog (1).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shop women shirts/1-catalog (7).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shop women shirts/1-catalog (8).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shop women shirts/1-catalog (9).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           <div class="crad my-5 p-3">
               <div class="card-body">
                   <img src="./assets/images/shop women shirts/1-catalog (10).jpg" alt="">
    
                   <div class="price d-flex align-items-center">
                   <h3 class="text-danger mx-3"><strong>₹ 990</strong> </h3><span><del>  ₹ 1500</del></span>
                   </div>
                   <div class="card-title">
                       <h4>V-neck Top</h4>
                   </div>
                   <div class="card-text">
                       <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                   </div>
    
                   <button class="btn btn-primary d-block">Add To Cart</button>
               </div>
              
           </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shop women shirts/1-catalog (11).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 890</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Sleeveless Shirt</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="crad my-5 p-3">
                <div class="card-body">
                    <img src="./assets/images/shop women shirts/1-catalog (12).jpg" alt="">
     
                    <div class="price d-flex align-items-center">
                    <h3 class="text-danger mx-3"><strong>₹ 1090</strong> </h3><span><del>  ₹ 1500</del></span>
                    </div>
                    <div class="card-title">
                        <h4>Turtleneck Top</h4>
                    </div>
                    <div class="card-text">
                        <p>Turtlenecks are great if you’re wanting to make your torso appear longer and</p>
                    </div>
     
                    <button class="btn btn-primary d-block">Add To Cart</button>
                </div>
               
            </div>
        </div>
       
    </div>
</div>


</div>


<app-footer></app-footer>
<router-outlet></router-outlet>
